
@model ItemExchange.ViewModels.ExpenseViewModel

@{
    ViewData["Title"] = "Add expense";
}

<form class="d-flex justify-content-center mt-5" method="post" asp-action="Create">
    <div class="card col-6 px-5 py-4">
        <div>
            <h2 class="text-black-50">Add expense</h2>
            <hr class="w-100"/>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div>
                        <label class="form-label" asp-for="Expense.Name"></label>
                        <input asp-for="Expense.Name" class="form-control" />
                        <span asp-validation-for="Expense.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label class="form-label" asp-for="Expense.TypeId"></label>
                        <select asp-for="Expense.TypeId" asp-items="@Model.ExpenseTypes" class="form-control">
                            <option selected>Select expense type</option>
                        </select>
                        <span asp-validation-for="Expense.TypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label class="form-label" asp-for="Expense.Amount"></label>
                        <input asp-for="Expense.Amount" class="form-control" />
                        <span asp-validation-for="Expense.Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary mx-3" value="Add" />
                    <a asp-action="Index" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial" /> }
}